<p>booking works!</p>
<div>
<form (ngSubmit)="" [formGroup]="addBookingForm" class="form-control">
    <label for="from">Departing Airport</label>
    <select id="from" *ngFor="let airport of airportList" (change)="fromSelected($event.target.value)">
        <option>{{airport.airportId}}</select>
    </select>
    <label for="to">Arriving Airport</label>
    <select id="to" *ngFor="let airportTo of airportToList">
        <option>{{airportTo.airportId}}</select>
    </select>

    <label for="date">Date of Travel</label>
    <input id="date" type="datetime" required>

    <label for="numTravelers">Enter Number of Travelers</label>
    <input id="numTravelers" type="number" required>
</form>
</div>
