<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="margin-left: -15px;margin-right: -15px;">
        <a class="navbar-brand" routerLink="/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="viewFlights" routerLinkActive="active" class="nav-link">
                        View Flights
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="viewAirports" routerLinkActive="active" class="nav-link">
                        View Airports
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="booking" routerLinkActive="active" class="nav-link">Book a Flight</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a routerLink="/applicationHome" routerLinkActive="active" class="nav-link">
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

<router-outlet></router-outlet>
